<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [class]="item1" routerLink="./basicset" (click)="clickItem2('A')">基础设置</a>
  </li>
  <li class="nav-item">
    <a [class]="item2" routerLink="./teamfilesset" (click)="clickItem2('B')">团队档案</a>
  </li>
  <li class="nav-item">
    <a [class]="item3" routerLink="./memberset" (click)="clickItem2('C')">成员管理</a>
  </li>
  <li class="nav-item">
    <a [class]="item4" routerLink="./projectmg" (click)="clickItem2('D')">项目管理</a>
  </li>
  <li class="nav-item">
    <a [class]="item5" routerLink="./personsetting" (click)="clickItem2('E')">个人设置</a>
  </li>

</ul>
