<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">创建项目</button>


  <!-- 添加的模态框 -->
  <div class="modal fade" id="myModal2" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h4 class="modal-title">添加</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>     
          <!-- 模态框主体 -->
          <div class="modal-body">
            <form id="addfrom">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">项目名称</label>
                  <input type="email" class="form-control" id="project" placeholder="项目名称" #project >
                </div>
              </div>
            </form>
          </div>    
          <!-- 模态框底部 -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-info" (click)="add(project.value)" data-dismiss="modal">添加</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>