<div class="alert alert-secondary">
      <strong>需求确认</strong> 
    </div>


<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">任务ID</th>
        <th scope="col">功能点ID</th>
        <th scope="col">开始时间</th>
        <th scope="col">结束时间</th>
        <th scope="col">任务状态</th>
        <th scope="col">需求确认</th>
        <th scope="col">是否通过</th>
        <th scope="col">管理</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taskconfirm of taskconfirms;index as i">
        <td>{{taskconfirm.id}}</td>
        <td>{{taskconfirm.tId}}</td>
        <td>{{taskconfirm.fId}}</td>
        <td>{{taskconfirm.startTime |date:'yyyy-MM-dd'}}</td>
        <td>{{taskconfirm.endTime |date:'yyyy-MM-dd'}}</td>
        <td *ngIf="!taskconfirm.isUpdateModel">{{taskconfirm.status}}</td>
        <td *ngIf="taskconfirm.isUpdateModel"><select type="text" name="status"   [(ngModel)]="taskconfirm.status"><option>{{taskconfirm.status}}</option><option>未开始</option><option>进行中</option><option>已完成</option></select></td>
        <td>  <a href="#"  data-toggle="modal" data-target="#myModal" (click)="showcontent(taskconfirm)">查看详情</a></td>
        <td *ngIf="!taskconfirm.isUpdateModel">{{taskconfirm.isPass}}</td>
        <td *ngIf="taskconfirm.isUpdateModel"><select type="text" name="isPass"   [(ngModel)]="taskconfirm.isPass"><option>{{taskconfirm.isPass}}</option><option>通过</option><option>未通过</option></select></td>
        <td *ngIf="!taskconfirm.isUpdateModel"><button type="button" class="btn btn-link" (click)="update(i)">修改</button><button type="button" class="btn btn-link" (click)="delete(i)">删除</button></td>
        <td *ngIf="taskconfirm.isUpdateModel"><button type="button" class="btn btn-link" (click)="updateConfrim(i)">确定</button><button type="button" class="btn btn-link" (click)="cancelupdate(i)">取消</button></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">添加</button>
  

     <!-- 添加的模态框 -->
     <div class="modal fade" id="myModal2" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h4 class="modal-title">添加</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>     
          <!-- 模态框主体 -->
          <div class="modal-body">
            <form id="addfrom">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">任务ID</label>
                  <input type="email" class="form-control" id="taskname" placeholder="任务ID" #tId >
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">功能点ID</label>
                    <input type="email" class="form-control" id="function" placeholder="功能点ID" #fId >
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">开始时间</label>
                  <input type="date" class="form-control" id="startTime" placeholder="" #startTime  >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">结束时间</label>
                  <input type="date" class="form-control" id="endTime" placeholder="" #endTime >
                </div>
                <div class="form-group col-md-12">
                    <label for="inputPassword4">需求确认内容</label>
                    <textarea class="form-control" id="content" rows="3" style="height: 400px;width: 765px;resize: none;" placeholder="请输入需要确认的需求内容。。。" #content ></textarea>
                  </div>           
              </div>
            </form>
          </div>    
          <!-- 模态框底部 -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-info" (click)="add(tId.value,fId.value,startTime.value,endTime.value,content.value)" data-dismiss="modal">添加</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>






     <!-- 查看冲刺内容的模态框 -->
     <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
              <h4 class="modal-title">需求确认</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>     
            <!-- 模态框主体 -->
            <div class="modal-body">
                <p *ngIf="zz"> {{contentmotai}}  </p>
                <textarea *ngIf="!zz" class="form-control" id="cc" rows="3" style="height: 300px;width: 765px;resize: none;" value="{{contentmotai}}"  ></textarea>
            </div>    
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button *ngIf="zz" type="button" class="btn btn-info"  (click)="update2()">修改</button>
                <button *ngIf="!zz" type="button" class="btn btn-info"  (click)="save()">保存</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
  
        