<table class="table table-hover table-info">
  <thead>
    <tr>
      <th scope="col">标题</th>
      <th scope="col">内容</th>
      <th scope="col">作者</th>
      <th scope="col">时间</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wiki of wikis;index as i">
      <td>{{wiki.title}}</td>
      <td>  <a href="#"  data-toggle="modal" data-target="#myModal" (click)="showcontent(wiki)">查看详情</a></td>
      <td>{{wiki.userName}}</td>
      <td>{{wiki.date|date:'yyyy-MM-dd'}}</td>
    </tr>
  </tbody>
</table>

 <!-- 查看wiki内容的模态框 -->
 <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">wiki内容</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>     
      <!-- 模态框主体 -->
      <div class="modal-body">
        {{content}}
      </div>    
      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>