<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">用户名</th>
          <th scope="col">真实姓名</th>
          <th scope="col">做过项目</th>
          <th scope="col">做过功能点</th>
          <th scope="col">是否指派</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resume of resumes" class="danger">
          <td>{{resume.id}}</td>
          <td>{{resume.name}}</td>
          <td>{{resume.realname}}</td>
          <td>{{resume.project}}</td>
          <td>{{resume.funcpoint}}</td>
          <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
        </tr>
      </tbody>
    </table>
  </div>