<div class="container">
	<div class="row clearfix">
	
		<div class="col-md-11 column">
        <h2>功能点1</h2>
          模块：<input type="text" style="width:300px;margin-bottom:20px">
          &nbsp;&nbsp;&nbsp;&nbsp;区块：<select style="width:100px;margin-bottom:5px">
            <option>跳转关系</option>
            <option>内部逻辑</option>
            <option>参数尺寸</option>
          </select><br/>
      <img src="/../../assets/TIM20180606205227.png" class="upload" style="width:185px" id="img1" ><img class="upload" src="/../../assets/TIM20180606205227.png" id="img2" style="margin-left:3.33px;width:185px"><img class="upload" src="/../../assets/TIM20180606205227.png" style="margin-left:3.33px;width:185px" id="img3"><img class="upload" src="/../../assets/TIM20180606205227.png" style="margin-left:3.33px;width:185px" id="img4"><br/>
      <textarea style="width:750px;height:400px;margin-top: 3px"></textarea><br/>
      <input type="button" class="btn btn-info" value="保存" style="position:relative;left:700px">
      <form id="img1form"><input type="file" style="display:none" id="img1uploadbtn"> </form>
      <form id="img2form"><input type="file" style="display:none" id="img2uploadbtn"> </form>
      <form id="img3form"><input type="file" style="display:none" id="img3uploadbtn"> </form>
      <form id="img4form"><input type="file" style="display:none" id="img4uploadbtn"> </form>
    </div>
    <table class="table" style="margin-top:50px;margin-bottom: 50px">
        <thead>
          <tr>
            <th scope="col">模块</th>
            <th>功能点</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcpoint of funcpoints; index as i;" class="danger">
            <th scope="row">{{funcpoint.name}}</th>
            <th>{{funcpoint.module}}</th>
            <th>{{funcpoint.node}}</th>
          </tr>
        </tbody>
      </table>
	</div>
</div>