<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" routerLink="indexmodule">主页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="task">任务</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="funcdocmg">文档</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="wikimodule">周报</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="discussmodule">讨论</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="setingmodule">设置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink=""></a>
    </li>
  </ul>

</div>