<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" routerLink="/indexmodule">主页</a>
  <a class="list-group-item list-group-item-action" href="task">任务</a>
  <a class="list-group-item list-group-item-action" routerLink="/funcdocmg">文档</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">周报</a>
  <a class="list-group-item list-group-item-action" routerLink="/discussmodule">讨论</a>
  <a class="list-group-item list-group-item-action" routerLink="/setingmodule">设置</a>
</div>
