<div class="row">
  <div class="col-md-11">
    <ul class="nav nav-tabs">
    <li class="nav-item bg-info" >
      <a [class]="item1" routerLink="./teamwiki" (click)="clickItem2('A')" style="color: rgb(8, 8, 8)">wiki列表</a>
    </li>
    <li class="nav-item bg-info">
      <a [class]="item2" routerLink="./personalwiki" (click)="clickItem2('B')" style="color: rgb(8, 8, 8)">个人wiki</a>
    </li>
  </ul>
</div>
  <div class="col-md-1"></div>

</div>
<div class="row">
    <div class="col-md-11"><router-outlet></router-outlet></div>
    <div class="col-md-1"></div>
  </div>