<div class="container">
    <h1 style="text-align: center">注册</h1>
  <form>
    <div class="form-group">
      <label for="email">用户名:</label>
      <input type="email" class="form-control" id="namere">
    </div>
    <div class="form-group">
      <label for="pwd">密码:</label>
      <input type="password" class="form-control" id="pwdre">
    </div>
    
    <button (click)="register()"  class="btn btn-primary">注册</button>&nbsp;&nbsp;&nbsp; 
    <button (click)="gologin()" class="btn btn-primary">登录</button>
  </form>
  </div>